* {
    margin: 0;
    padding: 0;
}
.area {
    margin: 5px auto;
    width: 1000px;
    height: 750px;
    border: 3px solid black;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 25% 25% 25% 25%;
}

.area > div {
    background: green;
    border: solid darkgreen 1px;
}